<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
</head>
<body>
    <script>
        alert("Chuc mung ban {{model.name}} chung lo !!!");
    </script>
    <span style="color: red;"> Hello {{mode.name}}</span>
    <br>
    A {{mode.gender}}
</body>
</html>